
.main{
    margin-top: 2.5rem;
}
.sketch{
    width: 31.25rem;
    height: 31.25rem;
    
    flex-wrap: wrap;

    
    &__item{
        display: grid;
        border: 0.05px solid rgb(196, 190, 190);
        
    }

    
}
#grid{
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.6);

}

