html {
    font-size: 100%;
    box-sizing: border-box;
    background-color: rgb(189, 243, 243);
    font-family: "Oleo Script", san-serif;

} 

*, *::before, *::after {
    box-sizing: inherit;
    
}

.minwidth {
  min-width: 37.5rem;
}
.minheight{
  min-height: 37.5rem;
}
.container {
  
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 69.375rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ac-c {
  align-content: center;
}
.flex-jc-sb{
  justify-content: space-between;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.header{
  border-bottom: 100% solid blue;
  border-style: none none solid none;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.6);
  flex-direction: column;
  align-items: center;
 }
